#wrapper {
    width: 80%;
    height: 500px;
    margin: 50px auto;
    background: white;
}

#wrapper #title {
    font-size: large;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    text-align: center;
    background: #fff;
}

#wrapper #paragraph {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    overflow: auto;
    background-color: #fff;
}

#wrapper #agreement {
    margin: 20px auto;
    text-align: center;
}

html {
    background: #eee
}

#info p,.show{
    background: #fff;
    margin: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 16px;
    color: #009688;
    font-size: large;
    line-height: 24px;
    word-wrap: break-word;
    text-align: center;
}

span{
    font-weight: bold;
}
