html {
    background: #eee
}

#info p,.show{
    background: #fff;
    margin: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 16px;
    color: #009688;
    font-size: large;
    line-height: 24px;
    word-wrap: break-word;
    text-align: center;
}

span{
    font-weight: bold;
}
